<!doctype html>
<html lang="ja">
<head>
<link rel="stylesheet" type="text/css" href="/search.css">
<title><%= query %> - ありジャバ検索</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<h1>ありジャバ検索</h1>
<form action="">
<input name="q" type="search" value="<%= query %>">
<input type="submit" value="検索">
</form>
<ul>
<% results.forEach(function(page){ let title2=page.title || '(タイトルなし)'; %>
<li><a href="https://arigato-java.download/<%= page.url %>"><%= title2 %></a>
<code>https://arigato-java.download/<%= page.url %></code>
<%= page.snippet %></li>
<% }); %>
</ul>
<p>以上。
</p>
</body></html>
