body,html{
	padding:0;
	margin:0;
	background-color:#ffffff;
	color:#000000;
}
h1{
	text-align:center;
}
li{
	list-style:none;
	margin: 0 0 1em 0;
	line-height:1.4;
}
li a{
	display:block;
	font-family: sans-serif;
	font-size:large;
}
code{
	display:block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color:#007700;
	font-size:small;
}
form{
	text-align:center;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
@media (max-device-width: 480px) {
	ul{
		padding-left: 1em;
	}
}
